/* --------------------------------------
   Layout
   -------------------------------------- */

#features {
	text-align: center;
}

#features img {
	margin: 0 0 20px;
}

#inputMessage {
	margin-bottom: 15px;
}

footer {
	background: #333;
	color: #eee;
	font-size: 11px;
	padding: 20px;
}


/* --------------------------------------
   Typography
   -------------------------------------- */

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.well .page-header {
	margin-top: 0;
}

.well .page-header h1 {
	margin-top: 0;
}

ul.unstyled {
	list-style: none;
	padding: 0;
}


/* --------------------------------------
   Navbar
   -------------------------------------- */

#searchInput {
	width: 200px;
}

.navbar-brand {
	padding: 13px 15px;
}

.navbar-brand img {
	width: 108px;
}


/* --------------------------------------
   Carousel
   -------------------------------------- */

#myCarousel {
	margin-top: 60px;
}

.carousel-caption {
	font-size: 24px;
}

.carousel-caption h4 {
	font-size: 32px;
}

#myCarousel .item {
	height: 400px;
}

#slide1 {
	background: url('../../images/startup-idea-md.jpg') top left no-repeat;
}

#slide2 {
	background: url('../../images/office-team-plan-and-development-md.jpg') top left no-repeat;
}

#slide3 {
	background: url('../../images/mobile-first-design-md.jpg') top left no-repeat;
} /*end of medium slides*/


/* --------------------------------------
   Global Styles
   -------------------------------------- */

.alert {
	margin-top: 20px;
	display: none;
}

.well {
	margin: 20px 0;
}

.tabbable img.thumbnail {
	margin: 0 20px 10px 0;
}

.thumbnails {
	margin: 20px 0;
}

.thumbnail {
	position: relative;
}

.thumbnail h3 {
	font-size: 16px;
	margin: 0 0 10px;
	line-height: 20px;
}

.thumbnail .price {
	font: 22px;
	position: absolute;
	top: -10px;
	right: -10px;
	padding: 10px;
}

.thumbnail .price sup {
	font-weight: normal;
	font-size: 8px;
}

.thumbnail span.glyphicon {
	margin-right: 5px;
}

.img-circle {
	width: 200px;
}

/* --------------------------------------
   Media Queries
   -------------------------------------- */


/* Portrait & landscape phone */

@media (max-width: 480px) {
	.thummbnail .price {
		font-size: 14px;
	}
	.thumbnail .price sup {
		font-size: 10px;
	}
}


/* Landscape phone to portrait tablet */

@media (max-width: 768px) {
	#myCarousel .item {
		height: 310px;
	}
	#slide1 {
		background: url('../../images/startup-idea-sm.jpg') top left no-repeat;
	}
	#slide2 {
		background: url('../../images/office-team-plan-and-development-sm.jpg') top left no-repeat;
	}
	#slide3 {
		background: url('../../images/mobile-first-design-sm.jpg') top left no-repeat;
	} /*end of small slides*/
	.carousel-caption {
		font-size: 16px;
	}
	.carousel-caption h4 {
		font-size: 22px;
	}
}


/* Large desktop */

@media (min-width: 1200px) {
	#myCarousel .item {
		height: 500px;
	}
	#slide1 {
		background: url('../../images/startup-idea-lg.jpg') top left no-repeat;
	}
	#slide2 {
		background: url('../../images/office-team-plan-and-development-lg.jpg') top left no-repeat;
	}
	#slide3 {
		background: url('../../images/mobile-first-design-lg.jpg') top left no-repeat;
	} /*end of large slides*/
}